{% extends 'base.html' %}
{% load static %}

{%block content%}

<section class="section-content padding-y bg">
<div class="container">



<!-- ============================ COMPONENT 2 ================================= -->
<div class="row">
		<main class="col-md-8">

<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Review cart</h4>
	<div class="row">
		
		{% for item in cart %}
		<div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src=" {{ item.product.image.url }} " class="border img-sm"></div>
				<figcaption class="info">
					<p>{{item.product.name}} </p>
					<span class="text-muted">{{ item.quantity }}x = ${{ item.total_price }} </span>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
		{%endfor%}
		{% comment %} <div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src="./images/items/2.jpg" class="border img-sm"></div>
				<figcaption class="info">
					<p>Apple iPad (2019) 32Gb Wi-Fi gold </p>
					<span class="text-muted">2x = $560 </span>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
		<div class="col-md-6">
			<figure class="itemside mb-4">
				<div class="aside"><img src="./images/items/3.jpg" class="border img-sm"></div>
				<figcaption class="info">
					<p>Apple iPad (2019) 32Gb Wi-Fi gold </p>
					<span class="text-muted">2x = $560 </span>
				</figcaption>
			</figure>
		</div> <!-- col.// -->
		<div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src="./images/items/4.jpg" class="border img-sm"></div>
				<figcaption class="info">
					<p>Apple iPad (2019) 32Gb Wi-Fi gold </p>
					<span class="text-muted">2x = $560 </span>
				</figcaption>
			</figure>
		</div> <!-- col.// --> {% endcomment %}
	</div> <!-- row.// -->
</div> <!-- card-body.// -->
</article> <!-- card.// -->


<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Contact info</h4>
	<form method="post" class="order-form">
			{% csrf_token %}
			{{ form.as_p }}
	<input type="submit" value="Place order" class="btn btn-primary btn-block"> Place Order >
	</form>
</div> <!-- card-body.// -->

<div class="card-body">
	<form action="">
		<div class="row">
				<div class="form-group col-sm-6">
					<label>Country*</label>
					<select name="" class="form-control">
						<option value="">India</option>
						<option value="">United States</option>
						<option value="">France</option>
						<option value="">Italy</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label>State*</label>
					<input type="text" placeholder="Type here" class="form-control">
				</div>
				<div class="form-group col-sm-8">
					<label>Street*</label>
					<input type="text" placeholder="Type here" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>Building</label>
					<input type="text" placeholder="" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>House</label>
					<input type="text" placeholder="Type here" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>Postal code</label>
					<input type="text" placeholder="" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>Zip</label>
					<input type="text" placeholder="" class="form-control">
				</div>
		</div> <!-- row.// -->	
	</form>
</div> <!-- card-body.// -->
</article> <!-- card.// -->



<!-- accordion end.// -->
  
		</main> <!-- col.// -->
		<aside class="col-md-4">
			<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right">${{ cart.get_total_price }}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
			  <dd class="text-right"> $00.00</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>${{ cart.get_total_price }}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src={% static 'images/misc/payments.png'%} height="26">
			</p>
			
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->

<!-- ============================ COMPONENT 2 END//  ================================= -->




</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{%endblock%}
<!-- ========================= SECTION CONTENT END// ========================= -->
</body>
</html>